\#*#
*~
*.pyc
*.bak
adsApp/Db/O.*
adsApp/src/O.*
adsApp/src/Debug
bin/
builddir/
configure/O.*
db/
dbd/
iocBoot/iocads/
TwinCAT/demo_project/MCAG_Base_Project/_Boot*
TwinCAT/demo_project/MCAG_Base_Project/_Configure*
TwinCAT/demo_project/MCAG_Base_Project/MCAG_PLC_Project/_CompileInfo*

