*.bak
*.pyc
*~
TwinCAT/demo_project/MCAG_Base_Project/MCAG_PLC_Project/_CompileInfo*
TwinCAT/demo_project/MCAG_Base_Project/_Boot*
TwinCAT/demo_project/MCAG_Base_Project/_Configure*
\#*#
adsApp/Db/O.*
adsApp/src/Debug
adsApp/src/O.*
adsExApp/Db/O.*
adsExApp/src/O.*
bin/
builddir/
configure/O.*
configure/RELEASE_LIBS.local
configure/RELEASE_PATHS.local
db/
dbd/
iocBoot/
lib/
