[submodule "TwinCATexample"]
	path = TwinCATexample
	url = https://torstenbogershausen@bitbucket.org/europeanspallationsource/tc_ads_example.git
[submodule "BeckhoffADS"]
	path = BeckhoffADS
	url = https://github.com/EuropeanSpallationSource/ADS
